title: Blatt 12

mode: test

# Aufgabe a:
pseudo_data_fraction: 0.9

source_file_moca: NeutrinoMC.root
roottree_moca: Signal_MC

branch_x: Energie log
limits_x: 0 11

# number_all_variables: 0

# branch_y:
# number_y_bins:

# branch_y:
# number_y_bins:

# branch_y:
# number_y_bins:

# number_deg_free: 8
# max_number_deg_free: 8

number_knots: 8
max_number_knots: 8

# number_bins: 8
# max_number_bins: 8

# erst ab Aufgabe f) einkommentieren
#mc_func:
